// ---------------------------------------------------------------------------
// FONTS
// ---------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");

$font-body: "Nunito Sans", Arial, Helvetica, sans-serif;
$dosis: "Dosis", sans-serif;

// ---------------------------------------------------------------------------
// COLORS
// ---------------------------------------------------------------------------

// Primary
$orange: #e56138;
$mustard-yellow: #ccad0d;
$light-yellow: #ffed8e;
$dark-yellow: #f5d340;
$light-green: #aaeac8;
$dark-green: #0c4124;
$dark-blue: #1b214e;
$light-purple: #aab4f3;
$mint: #aaeac8;
$teal-blue: #52c2c2;
