// ---------------------------------------------------------------------------
// FONTS
// ---------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

$font-body: 'Nunito Sans', Arial, Helvetica, sans-serif;
$dosis: 'Dosis', sans-serif;

// ---------------------------------------------------------------------------
// COLORS
// ---------------------------------------------------------------------------

// Primary
$dark-green: #0C4124;
$light-yellow: #FFED8E;
