// ---------------------------------------------------------------------------
// FONTS
// ---------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");

$font-body: "Nunito Sans", Arial, Helvetica, sans-serif;
$dosis: "Dosis", sans-serif;

// ---------------------------------------------------------------------------
// COLORS
// ---------------------------------------------------------------------------

// Primary
$orange: #E56138;
$mustard-yellow: #CCAD0D;
$light-yellow: #FFED8E;
$dark-yellow: #F5D340;
$light-green: #AAEAC8;
$dark-green: #0C4124;
$dark-blue: #1B214E;
$light-purple: #AAB4F3;
$mint: #AAEAC8;
$teal-blue: #52C2C2;
