
.cabins{
    padding-bottom: 10px;
} 

h2{
    color: white;
    font-weight: bold;
    padding-left: 60px;
    padding-top: 20px;
}

h5{
    color: white;
}

.score-sheet{
    color: white;
    background-color: #e56138;
}

.cabin-cup-intro {
color: white;
padding-left: 60px;
}

.cabin-cup{
    background-color: #1b214e;
    height: 450px;
    border-radius: 0px;
    padding-inline-start: 10px;
    margin-left: -300px;
    border-radius: 20px;
}