.cabin-cup {
  background-color: #1b214e;
  padding: 30px;
  color: white;

  @media (min-width: $sm) {
    border-radius: 15px;
  }

  &__logo {
    padding-top: 10px;

    @media (max-width: $sm) {
      display: none;
    }
  }

  &__points {
    position: absolute;
    background-color: $orange;
    padding: 14px 12px;
    border-radius: 30px;
  }

  &__bean {
    margin-left: 10px;
    margin-top: 10px;
  }
}

.bean-points {
  position: absolute;
  color: white;
  background-color: $orange;
  margin-left: -10px;
  margin-top: -10px;
  padding: 14px 12px;
  border-radius: 30px;
}
