.carousel {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B214E;
    padding-bottom: 4vw;

    @media (min-width: $xxl) {
      min-height: 30rem;
    }

    h2{
      @media (max-width: $sm){
        font-size: 5vw;
      }
      @media (max-width: $md) and (min-width: $sm){
        font-size: 4vw;
        margin-left: 3vw;
      }
      font-size: 3vw;
      width: 100%;
      color: white;
    }

    p{
      @media (max-width: $sm){
        font-size: 3vw;
        margin-bottom: 2rem;
      }
    }
  }

  &__caption {
    color: white;
    float: left;
    width: 33vw;

    @media (max-width: $sm){
      margin-left: 3vw;
      width: 70vw;
    }

    @media (max-width: $md) and (min-width: $sm){
      width: 45vw;
      margin-left: 10vw;
    }
  }

  &__header {
    position: relative;
    margin-top: 4vw;
    margin-bottom: 3vw;
  }

  &__image {
    @media (max-width: $md){
      display:none;
    }
    display: flex;
    margin-right: 1vw;
    align-items: center;
    justify-content: flex-end;
    width: 23vw;
    height: auto;    
  }
}
