.countdown {
  position: fixed;
  width: 139px;
  height: 174px;
  right: 0px;
  top: 154px;

  background: $light-green;
  border-radius: 15px 0 0 15px;
  z-index: 1000;

  &__text-wrapper {
    margin: 39px 0px 39px 23px;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    color: $dark-green;
  }

  &__timer {
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
  }
}
