body {
  margin: 0;
  background-color: $light-yellow;
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    color: $dark-green;
    font-size: 60px;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .mt-5.container {
    margin-top: 0 !important;
    padding-top: 4rem;
  }
}
