.navbar {
  background-color: $dark-blue;
}

.navbar-logo {
  width: 70px;
  height: auto;
  padding-left: 20px;
}

.navbar .navbar-nav .navbar-text.nav-link {
  margin: 0.1rem 0.5rem;
  color: white;
  font-size: 15px;
}

.navbar .navbar-nav {
  margin-left: auto;
}

.navbar .navbar-nav .navbar-text.nav-link:hover,
.navbar .navbar-nav .navbar-text.nav-link:active {
  color: white;
}
