.navbar {
  background-color: $dark-green;
}

.navbar-logo {
  max-width: 50px;
  max-height: 50px;
  padding: 5px 0px 5px 20px;
}

.navbar .navbar-nav .navbar-text.nav-link:hover,
.navbar .navbar-nav .navbar-text.nav-link:active {
  color: white;
}